<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wash.flipsilent.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Flip to Mute"
        android:debuggable="false"
        android:theme="@style/AppTheme" >

        <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
        <activity
            android:name="com.wash.flipsilent.app.MainActivity"
            android:label="Flip to Mute" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
